*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
}

.container {
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 125px 125px 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
    align-content: center;
    justify-content: center;
    
}

.game-item {
    background-color: #FFFFFF;
}